<?xml version="1.0"?>

<model>
  <name>BARRASIM</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Jhon Ordonez</name>
    <email>jordonez.i@ucb.edu.bo</email>
  </author>

  <description>
    Model created exclusively for third test
  </description>
</model>
